.observation-site {
  text-align: center;
  padding: 20px;
}

.observation-site h1 {
  font-size: 28px;
  font-weight: bold;
  color: #333; /* Цвет текста заголовка */
  margin-bottom: 10px; /* Отступ снизу */
}

.observation-site p {
  font-size: 16px;
  color: #060f0b; /* Цвет текста параграфа */
}

.video-container {
  margin-top: 20px;
  position: relative;
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 200px;
}

.buttons-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4760b3;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buttons-container button:hover {
  background-color: #45a049;
}

.custom-table {
  margin: 0 auto; /* Центрирование таблицы по ширине */
  max-width: 100%; /* Ограничение максимальной ширины, если нужно */
  border-collapse: collapse;
  margin-bottom: 1rem; /* Отступ между таблицей и другими элементами */
}

.custom-table th, .custom-table td {
  padding: 0.5rem; /* Уменьшил отступ внутри ячеек */
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.custom-btn {
  background: none;
  border: none;
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
  margin: 0; /* Убрал отступы у кнопки */
}

.custom-btn .bi-play-fill {
  font-size: 1.5rem;
  color: #007bff;
}

.highlight-row {
  background-color: #ffaaaa; /* или другой цвет на ваш выбор */
}
