<div class="observation-site">
  <h1>{{ observation.name }}</h1>
  <p>{{ observation.address }}</p>
  
  <div *ngIf="isLive" class="video-container">
    <iframe width="1200" height="600" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
  </div>
  <video controls *ngIf="!isLive">
    <source [src]="videoUrlArch" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  
  <div class="buttons-container">
    <button (click)="viewArchive()">Архив видео</button>
    <button *ngIf="isLive" (click)="redirectCreateApplication()">Создать заявку</button>
    <button *ngIf="isActiveIncidenInArchive" (click)="changeInsedentStatus()">Инцидент отработан</button>
    <button *ngIf="isLive" (click)="viewIncident()">Инцидент</button>
    <button *ngIf="!isLive" (click)="toLive()">К трансляции</button>
  </div>

  <table *ngIf="isShowIncidents" class="custom-table">
    <thead>
      <tr>
        <th>Дата</th>
        <th>Статус</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let incident of incidents" [ngClass]="{'highlight-row': incident.status === 1}">
        <td>{{ incident.data | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>{{ getStatusString(incident.status) }}</td>
        <td>
          <button (click)="goToVideo(incident.videoArchiveId)" class="custom-btn">
            <span class="bi bi-play-fill" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <table *ngIf="isShowArchive" class="custom-table">
    <thead>
      <tr>
        <th>Дата</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let videoArchiv of videoArchivs">
        <td>{{ videoArchiv.data | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>
          <button (click)="goToVideo(videoArchiv.id)" class="custom-btn">
            <span class="bi bi-play-fill" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
