
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="margin-top: 20px;">
  <h4 style="text-align: center; color: #333333;">Для доступа к сайту авторизуйтесь</h4>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" placeholder="Enter your email">
    <mat-error *ngIf="loginForm.controls.email.hasError('required')">Email is required</mat-error>
    <mat-error *ngIf="loginForm.controls.email.hasError('email')">Invalid email format</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" placeholder="Enter your password">
    <mat-error *ngIf="loginForm.controls.password.hasError('required')">Password is required</mat-error>
  </mat-form-field>
  <div *ngIf="loginFailed" style="color: #d9534f; margin-top: 10px;">
    {{ loginErrorMessage }}
  </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
</form>